.About {
    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

$forground: indigo;
$background: white;
.About .icons {
    width: 100%;
    max-width: 400px;
    margin: 0px auto 30px auto;
    text-align: center;
}
.About .fa {
    width: 45px;
    height: 45px;
    margin: 0px 3%;
    padding-top: 5px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    border: 2px $forground solid;
    background: $background;
    color: $forground;
    visibility: hidden;
}
.About .fa:hover {
    background: $forground;
    color: $background;
}

.About .container-fluid {
    max-width: 1000px;
}

.About .container-fluid .text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    visibility: hidden;
}
