.Contact {
    width: 100%;
    height: 700px;
    background: gainsboro;
}

.Contact .message {
    width: 100%;
    color: gray;
    text-align: center;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.Contact .inputCol {
    margin-top: 60px;
    text-align: center;
}

.Contact .smInput {
    width: 98%;
    height: 50px;
    margin: 0px 0px 25px 0px;
    padding: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.Contact input::placeholder {
    color: lightgray;
}
.Contact .lgInput {
    width: 98%;
    height: 200px;
    padding: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    color: black;
}
.Contact textarea::placeholder {
    color: lightgray;
}

.Contact .buttonContainer {
    width: 100%;
    text-align: center;
}
.Contact .sendBtn {
    width: 300px;
    height: 40px;
    color: white;
    background: gold;
    border: 1px gold solid;
}
.Contact .sendBtn:hover {
    background: darkgoldenrod;
    border: 1px darkgoldenrod solid;
}