@import url('https://fonts.googleapis.com/css?family=Montserrat');

.Home .landing {
    position: relative;
    height: 100vh;
    width: 100%;
    min-height: 500px;
}

.Home .hero {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    background-image: url("../../assets/hero-bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.Home .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    width: 500px;
    margin: 0px auto;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
}