.Nav {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 5;
    transition: height 0.2s;
}

.Nav .buttonGroup {
    position: absolute;
    right: 3%;
    height: 100%;
}

.Nav .centerer {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

//outline: 1px red solid;
.Nav .buttonGroup .button {
    display: inline-block;
    vertical-align: middle;
    height: 60%;
    padding: 0px 1em;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}
.Nav .buttonGroup .button .button-text {
    display: inline-block;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

.Nav .buttonGroup .button:hover {
    color: gold;
}

.Nav .buttonGroup .activeBtn {
    color: white;
    background: gold;
}
.Nav .buttonGroup .activeBtn:hover {
    color: white;
}