.Portfolio {
    background: gainsboro;

    -webkit-touch-callout: none;    /* iOS Safari */
    -webkit-user-select: none;      /* Safari */
    -khtml-user-select: none;       /* Konqueror HTML */
    -moz-user-select: none;         /* Firefox */
    -ms-user-select: none;          /* Internet Explorer/Edge */
    user-select: none;              /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.Portfolio .project {
    position: relative;
    display: inline-block;
    width: 320px;
    height: 320px;
    background: white;
    margin: 0px 20px 40px 20px;
    visibility: hidden;
}

.Portfolio .project .imageContainer {
    position: relative;
    width: 100%;
    height: 70%;
    margin-bottom: 15px;
    cursor: default;
}
.Portfolio .project .image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}
.Portfolio .project .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: gold;
    opacity: 0;
    transition: opacity 0.3s;
}
.Portfolio .project .overlay:hover {
    opacity: 0.95;
}
.Portfolio .project .overlay:hover .buttonContainer .linkBtn {
    opacity: 1;
}
.Portfolio .project .overlay .buttonContainer {
    position: absolute;
    top: 110px;
    width: 100%;
    text-align: center;
}
.Portfolio .project .overlay .buttonContainer .linkBtn {
    width: 100px;
    height: 50px;
    margin: 0px 20px;
    opacity: 0;
    background: gold;
    border: 3px white solid;
    color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-decoration: none;
}
.Portfolio .project .overlay .buttonContainer .linkBtn:hover {
    background: white;
    color: gold;
}

.Portfolio .project .footer {
    text-align: center;
}
.Portfolio .project .footer .title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.Portfolio .project .footer .about {
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}